body, html {
    height: 100%;
    margin: 0;
}

.dash-contianer{
    display: grid;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    grid-template-rows: repeat(3, 1fr 2fr); 
    grid-template-columns: repeat(8, 1fr); 
}
    
/*////////// SIDEBAR \\\\\\\\\\ */
.sidebar{
    background-color: dodgerblue;
    display: grid;
    grid-row: 1 / 9;
    
}

.sidebar div{
    display: flex;
    align-items: center;
    margin: 3px;
    
    
}
.sidebar img{
    height: 24px;
    margin-right: 5px;
    
}





/* ////////// HEADER \\\\\\\\\\ */

.header{
    background-color: aliceblue;
    grid-column: 2 / 13;
    
}

.profile-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    
}

.search-form{
    
    width: 100%;
    max-width: 500px;
    max-height: 30px;
    background: #DCE1E3;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px;
    margin: 10px;

}

.search-form .input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 5px;
    font-size: 15px;
    color: black;
}

::placeholder{
    color: black;
}

.search-form button img{
    width: 15px;

}

.search-form button{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    cursor: pointer;
}


.search-container {
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.alert {
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
    grid-row: 1;
}

.alert img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 25px;
    height: 25px;
    margin: 10px;  
}

.alert h4{
    margin: 10px;
}

.profile-page{
    display: flex;
    margin-top: -38px;
    
}

.profile-page img{
    width: 70px;
    height: 70px;
    margin: 10px;
}

.profile-text{
    flex-direction: column;
    justify-content: flex-start;
    
}

.profile-btn{
    display: flex;
}
.profile-btn button{
   justify-content: flex-end;
   max-height: 30px;
   margin: 10px;
   width: 90px;
   background-color: dodgerblue;
   color: aliceblue;
   border: none;
   border-radius: 10px;
   cursor: pointer;
}




/* ////////// MAIN \\\\\\\\\\ */


.main{
    background-color: #DCE1E3;
    grid-column: 2 / 13;
    grid-row: 2 / 9;
    grid-template-rows: 1fr, auto; 
    grid-template-columns: repeat(4, 1fr); 
    
}

.main-title{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);

}
.project-u{
    grid-column: 1;
}
.annts{
    grid-column: 3;
}



/* ////////// PROJECTS & ANNOUNCEMENTS \\\\\\\\\\ */

.projects {
    grid-row: 1 / 3;
    grid-column: 1 / 6;
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
    border: 3px;
}

.projects div{
    max-height: 200px;
}

.projects img {
    width: 24px;
    height: 24px;
    
}


.project-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: aliceblue;
    border-radius: 20px;
    
}

.project-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: aliceblue;
    border-radius: 20px;
}

.project-3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: aliceblue;
    border-radius: 20px;
}

.project-4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: aliceblue;
    border-radius: 20px;
}

.project-5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: aliceblue;
    border-radius: 20px;
}

.project-6 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: aliceblue;
    border-radius: 20px;
}

.annoucements{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    `

    
}

.ann {
    background-color: aliceblue;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    border-radius: 20px;
}

.trend {
    background-color: yellow;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    border-radius: 20px;
}






