* {
    margin: 0;
    padding: 0;
}

.dash-container {
    display: grid;
    grid-template-columns: 20% 80%;

}

/* ////////// SIDEBAR \\\\\\\\\\ */ 

.sidebar{
    background-color: #0ea5e9;
    height: 100vh;
    color: aliceblue;
}

.logo-title{
    display: flex;
    align-items: center;
    margin: 20px 15px;
}

.side-items {
    display: flex;
    align-items: center;
    margin: 5px 15px;
    

}

.side-items-2{
    margin-top: 100px;
}


.side-items p{
    margin-left: 20px;
    font-size: 25px;
    
}

/* ////////// MAIN \\\\\\\\\\ */

.main{
    background-color: aliceblue;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.navbar{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

.search-form{
    
    width: 100%;
    max-width: 500px;
    max-height: 30px;
    background: #DCE1E3;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px;
    margin: 10px;
    margin-right: 300px;

}

.search-form .input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 5px;
    font-size: 15px;
    color: black;
}

::placeholder{
    color: black;
}

.search-form button img{
    width: 15px;

}

.search-form button{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    font-size: 50px;

}

.search img {
    width: 30px;
    height: 30px;
}

.bell {
    margin-right: 30px;
}

.profile-pic {
    margin-right: 10px;
}

.profile img{
    width: 100px;
    height: 100px;
}

.user-pic{
    margin-left: 60px;
    margin-right: 15px;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left{
    display: flex;
    align-items: center;
    font-size: 25px;
}

.right{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.btn { 
    width: 90px;
    height: 30px;
    background-color:  #0ea5e9;
    color: aliceblue;
    border: none;
    border-radius: 20px;
    cursor: pointer;
   
}

.main-content{
    background-color: #e5e7eb;
    display: grid;
    grid-template-columns: 70% 30%;
}

.cards{
    display: grid;
    grid-template-columns: 50% 50%;
}

.card{
    background-color: aliceblue;
    border-left: 10px solid #facc15;
    border-radius: 10px;
    margin: 20px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
} 

.icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

h4{
    margin-top: 20px;
    margin-left: 30px;
    
}

h6{ 
    font-size: 20px;
}


.card p{
    font-size: 15px;
    color: #4b5563;
    margin: 10px 0;
}

/* ////////// ANNOUNCEMENTS \\\\\\\\\\ */

.ann-container{
    display: grid;
    grid-template-rows: 50% 50%;
}

.ann-card, .trend-card{
    height: 80%;
    width: 80%;
    background-color: aliceblue;
    border-radius: 10px;
}

.trend-content img{
    width: 30px;
    height: 30px;
}

.ann-content{
    padding: 15px 10px;
}

.ann-content h6, .trend-text h6{
    font-size: 14px;
}

.ann-content p, .trend-text p{
    font-size: 15px;
    color: #4b5563 ;
}

.divide{
    border: 0.3px solid #4b5563;
    width: 80%;
    margin-left: 20px;
}

.trend-item{
    display: flex;
    align-items: center;
    margin: 30px  20px;
    
}

.trend-card{ 
    display: flex;
    justify-content: center;
}

.trend-text{
    margin-left: 10px;
}





 